<div>
    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const secretCode = document.getElementById('secretCode').value;

            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if(confirmPassword!==password){
                alert("Passwords do not match!");
                return;
            }

            const requestData = {
                secretCode,
                password
            };

            const submitButton = document.getElementById('btnSubmit');
            submitButton.disabled = true;

            fetch(window.location.pathname, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData),
            })
                .then(response => response.text())
                .then(data => {
                    console.log('Success:', data);
                    if (data === 'redirect:/logout') {
                        window.location.href = '/logout';
                    } else {
                        alert(data);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert("error:"+error);
                });

            submitButton.disabled = false;
        });
    </script>

</div>