<div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const queryParams = new URLSearchParams(window.location.search);
            const id = queryParams.get('id');

            const addToFriendsButton = document.querySelector('button.addToFriends');
            const goToChatButton = document.querySelector('button.goToChat');
            const removeFromFriendsButton = document.querySelector('button.removeFromFriends');
            const acceptRequestToFriends = document.querySelector('button.acceptRequestToFriends');

            if (addToFriendsButton) {
                addToFriendsButton.addEventListener('click', function(event) {
                    event.preventDefault();

                    fetch(window.location.pathname, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(id),

                    })
                        .then(response => {
                            if (response.ok) {
                                return response.text();
                            } else {
                                throw new Error('Search request failed');
                            }
                        })
                        .then(data => {
                            alert(data);
                        })
                        .catch(error => console.error('Error:', error));
                });
            }

            if (goToChatButton) {
                goToChatButton.addEventListener('click', function(event) {
                    window.location.href = '/chatwith?id=' + id;
                });
            }

            if (removeFromFriendsButton) {
                removeFromFriendsButton.addEventListener('click', function(event) {
                    event.preventDefault();

                    fetch(window.location.pathname, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(id),

                    })
                        .then(response => {
                            if (response.ok) {
                                return response.text();
                            } else {
                                throw new Error('Search request failed');
                            }
                        })
                        .then(data => {
                            alert(data);
                        })
                        .catch(error => console.error('Error:', error));
                });
            }

            if(acceptRequestToFriends){
                acceptRequestToFriends.addEventListener('click', function (event) {
                    event.preventDefault();

                    const idOfUser = id;
                    const responseStatus = "ACCEPT";

                    const requestData ={idOfUser,responseStatus}

                    fetch(`/requests_to_friendship`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(requestData),
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.text();
                            } else {
                                throw new Error('error accused while trying to add to friends');
                            }
                        })
                        .then(data => {
                            alert(data)
                        })
                        .catch(error => console.error('Error:', error));
                });
            }
        });

    </script>
    <script th:replace="~{fragments/script_websocket_connection :: div}"></script >
</div>