<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div><a href="/main">Main</a></div>
<h1>chat with
<span th:text="${publicName}"></span></h1>
<div th:each="message : ${messages}" class="message">
    <p><span th:text="${message.sender.publicName}"></span> says:
        <p th:text="${message.message}"></p>
    <br><br>
</div>
<form id="sendMessageForm">
    <label for="messageText"></label>
    <input type="text" id="messageText" name="message" placeholder="Your message" required>
    <button id="btnSubmit" type="submit">Send</button>
</form>
<script>
    document.getElementById('sendMessageForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        const message = document.getElementById('messageText').value;

        const queryParams = new URLSearchParams(window.location.search);
        const idOfReceiver = queryParams.get('id');

        const requestData = {
            idOfReceiver,
            message
        };

        const submitButton = document.getElementById('btnSubmit');
        submitButton.disabled = true;

        console.log(window.location.pathname);

        fetch(window.location.pathname, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestData),
        })
            .then(response => response.text())
            .then(data => {
                // Handle the response here, for example, show a success message
                console.log('Success:', data);
                alert(data);
            })
            .catch((error) => {
                console.error('Error:', error);
                alert("error:"+error);
            });

        submitButton.disabled = false;
    });
</script>
</body>
</html>