<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/css/styles_base.css}">
    <title>Profile</title>
</head>
<body>
<h1>my profile:</h1>
<p>your info:</p>
<p>change your profile <a href="/update_profile">here</a></p>
<div th:if="${user.usersPhotoUrl != null}">
    <img class="profile" th:src="${user.usersPhotoUrl}" alt="photo">
</div>
<div th:if="${user.isOnline}">
    <p>online</p>
</div>
<div th:if="${!user.isOnline}">
    <p>offline</p>
</div>
<p>username:
<span th:text="${user.username}"></span></p>
<p>public name:
<span th:text="${user.publicName}"></span></p>
<p>email:
<span th:text="${user.email}"></span></p>
<p>age:
<span th:text="${user.age}"></span></p>
<p>description:
<span th:text="${user.description}"></span></p>
<p>friends:</p>
    <div th:each="friend : ${friendsList}" class="friendsList">
        <a th:href="'/public_profile?id=' + ${friend.id}"><span th:text="${friend.publicName}"></span></a><br>
        <a th:href="'/chatwith?id=' + ${friend.id}">go to chat</a>
        <br><br>
    </div>
</body>
<div th:replace="~{fragments/header :: div}"></div>
<script th:replace="~{fragments/script_websocket_connection :: div}"></script >
</html>