<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
<h1>my profile:</h1>
<p>your info:</p>
<p>change your profile <a href="/update_profile">here</a></p>
<p>username: <!--/*@thymesVar id="username" type="java.lang.String"*/-->
<span th:text="${username}"></span></p>
<p>public name: <!--/*@thymesVar id="publicName" type="java.lang.String"*/-->
<span th:text="${publicName}"></span></p>
<p>email: <!--/*@thymesVar id="email" type="java.lang.String"*/-->
<span th:text="${email}"></span></p>
<p>age:<!--/*@thymesVar id="age" type="java.lang.Integer"*/-->
<span th:text="${age}"></span></p>
<p>description:<!--/*@thymesVar id="description" type="java.lang.String"*/-->
<span th:text="${description}"></span></p>
<p>friends:</p>
    <!--/*@thymesVar id="friendsList" type="com.hichat.mychat.model.responce.FriendsList"*/-->
    <div th:each="friend : ${friendsList}" class="friendsList">
        <a th:href="'/public_profile?id=' + ${friend.id}"><span th:text="${friend.publicName}"></span></a><br>
        <a th:href="'/chatwith?id=' + ${friend.id}">go to chat</a>
        <br><br>
    </div>
</body>
<div th:utext="${footer}"></div>

</html>