<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
<div class="registration-container">
    <h1>Register</h1>
    <form id="registerForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="You will need it to log in" required>
        <br>

        <label for="public_name">Public name:</label>
        <input type="text" id="public_name" name="public_name" placeholder="Users will see it" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter email" required th:value="${email}">
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter password" required>
        <br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
        <br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" placeholder="Enter your age" >
        <br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" >
        </textarea>
        <br>
        <button id="btnSubmit" type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</div>
<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const publicName = document.getElementById('public_name').value;
        const password = document.getElementById('password').value;
        const age = document.getElementById('age').value;
        const description = document.getElementById('description').value;
        const email = document.getElementById('email').value;const confirmPassword = document.getElementById('confirmPassword').value;

        if(confirmPassword!==password){
            alert("Passwords do not match!");
            return;
        }

        const requestData = {
            username:username,
            publicName:publicName,
            password:password,
            age:age,
            description:description,
            email:email
        };

        const submitButton = document.getElementById('btnSubmit');
        submitButton.disabled = true;

        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestData),
        })
            .then(response => response.text())
            .then(data => {
                // Handle the response here, for example, show a success message
                console.log('Success:', data);
                alert(data);
            })
            .catch((error) => {
                console.error('Error:', error);
                alert("error:"+error);
            });

        submitButton.disabled = false;
    });
</script>
</body>
</html>
