<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/styles_base.css}">
    <title>User Registration</title>
</head>
<body>
<div th:replace="~{fragments/header :: div}"></div>
<div class="registration-container">
    <h1>Register</h1>
    <p>Already have an account? <a href="/login">Login here</a></p>
    <br>
    <form id="registerForm">
        <p>Later in your profile you will be abel to upload personal photo</p>
        <br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="You will need it to log in" required>
        <br>

        <label for="public_name">Public name:</label>
        <input type="text" id="public_name" name="public_name" placeholder="Users will see it" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter email" required th:value="${email}">
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter password" required>
        <br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
        <br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" placeholder="Enter your age" >
        <br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" >
        </textarea>
        <br>
        <p>By registering, you confirm that you are 18 years of age.</p>
        <button id="btnSubmit" type="submit">Register</button>
    </form>
</div>
<script th:replace="~{fragments/script_register :: script}"></script >
</body>
</html>
