<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/css/styles_base.css}">
    <title>Reset password</title>
</head>
<body>
<h1>Reset password</h1>
<form id="resetPasswordForm">
    <label for="secretCode"> Secret Code: </label>
    <label><input type="text" id="secretCode" name="secretCode" required/> </label>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter password" required/>
    <br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required/>
    <br>
    <div><input id="btnSubmit" type="submit" value="Reset Password"/></div>
</form>
<div>
    <a href="/oauth2/authorization/google">
        <button type="button">Sign in with Google</button>
    </a>
</div>
<div><a href="/recovery"><button>forgot password</button></a></div>

<div th:replace="~{fragments/header :: div}"></div>
<script th:replace="~{fragments/script_reset_password :: div}"></script >
</body>

</html>